<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广西正辉药业有限公司商品流向查询平台</title>
    <link rel="stylesheet" href="easyui/themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" href="easyui/themes/icon.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="easyui/jquery.min.js"></script>
    <script src="easyui/jquery.easyui.min.js"></script>
    <script src="easyui/locale/easyui-lang-zh_CN.js"></script>
    <script>
        $(function () {
            $.fn.tree.defaults.loadFilter = function (data, parent) {
                let opt = $(this).data().tree.options;
                let idField, textFiled, parentFiled;
                if (opt.parentField) {
                    idField = opt.idField || 'id';
                    textFiled = opt.textField || 'text';
                    parentFiled = opt.parentField;
                    let i, l, treeData = [], tmpMap = [];

                    for (i = 0, l = data.length; i < l; i++) {
                        tmpMap[data[i][idField]] = data[i];
                    }
                    for (i = 0, l = data.length; i < l; i++) {
                        if (tmpMap[data[i][parentFiled]] && data[i][idField] != data[i][parentFiled]) {
                            if (!tmpMap[data[i][parentFiled]]['children'])
                                tmpMap[data[i][parentFiled]]['children'] = [];
                            data[i]['text'] = data[i][textFiled];
                            tmpMap[data[i][parentFiled]]['children'].push(data[i]);
                        } else {
                            data[i]['text'] = data[i][textFiled];
                            treeData.push(data[i]);
                        }
                    }
                    return treeData;
                }
                return data;
            };

            let menuTree = $("#menuTree");
            let center = $("body").layout("panel", "center");
            menuTree.tree({
                url: 'menus',
                parentField: 'parentId',
                onSelect: function (node) {
                    center.panel('refresh', node.href).panel('setTitle', node.text);
                }
            });

            $("#passwdSet").on('click', function () {
                passwdDialog();
            })

            function passwdDialog() {
                let dialog = $("<div/>").dialog({
                    title: '修改密码',
                    href: '/system/user/passwd',
                    width: 500,
                    height: 200,
                    modal: true,
                    onClose: function () {
                        $(this).dialog("destroy");
                    },
                    buttons: [{
                        text: '更新密码',
                        handler: function () {
                            let passwordForm = $("#passwdForm");
                            $.post("/system/user/passwd",
                                passwordForm.serialize()
                            ).done(function (res) {
                                if (res.success) {
                                    dialog.dialog('close');
                                    location.replace('/logout');
                                } else {
                                    $.messager.alert("提示", res.msg);
                                }
                            });
                        }
                    }]
                })
            }

        });
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:true" class="header">
    <img src="/img/logo1.png">
    <h1 class="title" style="color: #0c7cd5;font-family: SimSun,SimSong">广西正辉药业有限公司商品流向查询平台</h1>
    <link rel="icon" type="image/x-icon" href="../static/img/jiajin.png">
    <div id="userArea" class="info">
        <a th:text="${session.user.userName}">管理员</a>
        <!--<a href="logout">注销</a>
        <a id="passwdSet">修改密码</a>-->
    </div>
</div>

<div th:if="${session.user.id == 0}" data-options="region:'west',border:true" title="导航" style="width: 150px">
    <ul id="menuTree"></ul>
</div>

<div data-options="region:'center',border:true" title="工具栏">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'north',border:false,split:true"
             style="height: 120px;padding: 10px;overflow: hidden;">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'west',split:true" width="70%">
                    <form id="info_search_form" class="searcher-form">
                        <input name="customer" class="easyui-searchbox" data-options="prompt:'往来单位'"
                               width="120px">
                        <input name="productName" class="easyui-searchbox" data-options="prompt:'商品名称'"
                               width="120px">
                        <span>从：</span>
                        <input name="startTime" class="easyui-datebox field" width="120px">
                        <span>到：</span>
                        <input name="endTime" class="easyui-datebox field" width="120px">
                        <a class="easyui-linkbutton searcher"
                           data-options="iconCls:'icon-search'">检索</a>
                        <a class="easyui-linkbutton reset" data-options="iconCls:'icon-clear'">重置</a>
                    </form>
                </div>
                <div id="operatePanel" data-options="region:'center',split:true">
                    <a th:if="${#lists.contains(session.keys, 'bus:info:import')}"
                       class="easyui-linkbutton import" iconCls="icon-print">导入</a>
                    <a class="easyui-linkbutton export" iconCls="icon-save">导出</a>
                    <a th:if="${#lists.contains(session.keys, 'bus:info:delete')}"
                       class="easyui-linkbutton multiple" iconCls="icon-cancel">删除选定</a>
                    <a class="easyui-linkbutton" iconCls="icon-man" href="logout">注销</a>
                    <a class="easyui-linkbutton" iconCls="icon-edit" id="passwdSet">修改密码</a>
                </div>
            </div>
        </div>
        <div data-options="region:'center',border:false" style="border-top: 1px solid #D3D3D3" title="流向数据">
            <table id="infoGrid"></table>
        </div>
        <div id="infoGridAction" style="display: none;">
            <a th:if="${#lists.contains(session.keys, 'bus:info:edit')}" class="actions  edit">编辑</a>
            <a th:if="${#lists.contains(session.keys, 'bus:info:delete')}" class="actions  delete">删除</a>
        </div>
        <!--<div id="infoGridToolbar" style="display: none;" xmlns:th="http://www.thymeleaf.org">
            <a th:if="${#lists.contains(session.keys, 'bus:info:import')}"
               class="fa-solid fa-file-import actions import">导入</a>
            <a class="fa-solid fa-file-export actions export">导出</a>
        </div>-->
        <input id="infoUpload" type="file" style="display: none;"/>
    </div>
    <script src="js/info.js"></script>
</div>

<div data-options="region:'south'" class="footer" style="text-align: right">
    Copyright: 广西正辉药业有限公司
</div>

</body>
</html>