<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广西嘉进医药批发有限公司流向系统</title>
    <link rel="stylesheet" href="easyui/themes/metro/easyui.css">
    <link rel="stylesheet" href="easyui/themes/icon.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="easyui/jquery.min.js"></script>
    <script src="easyui/jquery.easyui.min.js"></script>
    <script src="easyui/locale/easyui-lang-zh_CN.js"></script>
    <script>
        $(function () {
            $("#loginBtn").on('click', function () {
                let loginForm = $("#loginForm");
                if (loginForm.form("validate")) {
                    loginForm.submit();
                }
            });
        });
    </script>
</head>
<body style="background-image: url('/img/bg.jpg')">
<div class="easyui-dialog"
     style="height: 300px;width: 450px"
     title="登录"
     data-options="draggable:false,closable:false">
    <h2 style="text-align: center;color: #6a6a6a" >广西嘉进医药批发有限公司流向系统</h2>
    <form id="loginForm" method="post" action="login">
        <div style="margin: 20px 100px">
            <input required="true" style="width: 200px" class="easyui-textbox" labelWidth="50" label="帐号" type="text"
                   name="account">
        </div>
        <div style="margin: 20px 100px">
            <input required="true" style="width: 200px" class="easyui-passwordbox" labelWidth="50" label="密码"
                   type="password"
                   name="password">
        </div>
        <div style="text-align: center">
            <button id="loginBtn" iconCls="icon-ok" class="easyui-linkbutton">登录</button>
        </div>

        <div style="text-align: center;padding: 5px;color: red" th:if="${error != null}" th:text="${error}"></div>
    </form>

</div>

</body>
</html>